<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Список книг</title>
</head>
<body>

<a href="admin/books">
    <form action="/books">
        <h3>Список книг</h3>
        <ul th:each="book: ${bookList}">
            <a th:href="@{/admin/books/{id}/edit(id=${book.getId()})}">
                <li th:text="${book.getBookName()}"></li>
            </a>
        </ul>
    </form>
</a>
<form method="post" action="admin/books/addBook">
    <input type="text" id="bookName" name="bookName"><BR>
    <input type="submit" value="Добавить"> <BR>
</form>
<a href="/admin/users">Редактировать пользователя</a>

</body>
</html>