<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Добавление новой книги</title>
</head>
<body>
<a href="/getAllBook">
    <form action="/getAllBook">
        <h3>Список книг</h3>
        <ul th:each="book: ${bookList}">
            <a th:href="@{/getBook/{id}/edit(id=${book.getId()})}">
                <li th:text="${book.getBookName()}"></li>
            </a>
        </ul>
    </form>
</a>

<form method="post" action="/createBook">
    <input type="text" id="bookName" name="bookName"><BR>
    <input type="submit" value="Добавить"> <BR>
</form>


</body>
</html>