<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
<div class="container">
    <form class="form-signin" name="userForm" action="/register" method="post" modelattribute="userForm">
        <h2 class="signin-header"> Please create account </h2>
        <p th:text="${passwordError}"></p>
        <p th:text="${loginError}"></p>
        <input type="text" name="username" id="username" class="form-control" placeholder="Login:"/> <BR>
        <input type="password" name="password" id="password" class="form-control" placeholder="Password:"/> <BR>
        <input type="password" name="passwordConfirm" class="form-control" id="passwordConfirm"
               placeholder="Confirm password:"/> <BR>
        <input type="submit" class="btn-register" value="Create account"/> <BR>

    </form>
</div>
</body>
</html>