<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>

<head>
    <meta charset="UTF-8">
    <title>Изменить роль пользователя</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <form method="post">
        <p th:text="${userError}"></p>
        <select th:id="roleName" th:class="roleName" th:name="roleName">
            <option
                    th:each="role:${userRoleSet}"
                    th:text="${role.roleName}"
                    th:value="${role.roleName}"
                    th:selected="${role.equals(user.get().getUserRole())}">
            </option>
        </select>
        <input type="submit" value="Обновить">
    </form>
    <BR>
    <a href="#" onclick="history.back();return false;">Назад</a>
</body>
</html>


